body {
    display: block;
    background-image: url(./back.jpg);
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.container1 {
    position: relative;
}

.me {
    position: absolute;
    background-size: cover;
    border-radius: 25%;
    top: 20px;
    left: 20px;
    height: 172px;
    width: 154px;
}

.vertical1 {
    position: absolute;
    border-right: 1px solid #00a3cc;
    top: 20px;
    left: 194px;
    height: 172px;
    float: right;
}

.name {
    position: absolute;
    height: 650px;
    width: 900px;
    float: right;
    top: -220px;
    left: 145px;
}

.age {
    position: absolute;
    height: 120px;
    width: 150px;
    float: right;
    top: 33px;
    left: 207px;
}

.horizontal1 {
    position: absolute;
    width: 638px;
    top: 116px;
    left: 162px;
    border-color: #00a3cc;
}

.student {
    position: absolute;
    height: 400px;
    width: 500px;
    float: right;
    top: -3px;
    left: 175px;
}

.aca {
    position: absolute;
    display: block;
    float: right;
    height: 161px;
    width: 191px;
    left: 623px;
    top: 92px;
}

.container2 {
    position: relative;
}

.experience {
    position: absolute;
    height: 400px;
    width: 650px;
    float: right;
    top: 88px;
    left: 1252px;
}

.horizontal2 {
    position: absolute;
    float: right;
    width: 590px;
    top: 294px;
    left: 1304px;
    border-color: #00a3cc;
}

.line_1 {
    position: absolute;
    float: right;
    width: 326px;
    height: 340px;
    top: 194px;
    left: 1406px;
}

.deloitte {
    position: absolute;
    float: right;
    height: 22px;
    width: 110px;
    top: 159px;
    left: 856px;
}

.line_2{
    position: absolute;
    float: right;
    width: 269px;
    height: 211px;
    top: 298px;
    left: 1458px;
}

.bet {
    position: absolute;
    float: right;
    height: 95px;
    width: 140px;
    top: 169px;
    left: 849px;

}

.vertical2 {
    position: absolute;
    float: right;
    border-right: 1px solid #00a3cc;
    top: 235px;
    left: 1861px;
    height: 164px;
}

.horizontal3 {
    position: absolute;
    float: right;
    width: 463px;
    top: 350px;
    left: 1431px;
    border-color: #00a3cc;
}

.container3 {
    position: fixed;
    left: 37%;
    height: 50px;
    width: 500px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    border: 1px solid #00a3cc;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.facebook {
    position: absolute;
    height: 50px;
    width: 68px;
    top: 2px;
    right: 396px;
}

.github {
    position: absolute;
    height: 39px;
    width: 38px;
    top: 7px;
    right: 225px;
}

.linkedin {
    position: absolute;
    height: 41px;
    width: 41px;
    top: 8px;
    right: 47px;
}

.animated1 {
    position: relative;
    left: 1%;
    height: 72px;
    width: 465px;
    top: 211px;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    border: 1px solid #00a3cc;
    border-radius: 25px;
}

.animated2 {
    position: relative;
    left: 1%;
    height: 72px;
    width: 183px;
    top: 216px;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    border: 1px solid #00a3cc;
    border-radius: 25px;
}

h1 {
    animation: type 1s steps(20);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #00a3cc;
    width: 22ch;
    font-family: lucida console;
}

.skills {
    animation: type2 1s steps(6);
    /* animation-delay: 1s; */
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #00a3cc;
    width: 8ch;
    font-family: lucida console;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 20ch;
    }
}

@keyframes type2 {
    0% {
        width: 0ch;
    }
    100% {
        width: 8ch;
    }
}

.skillset {
    position: relative;
    width: 545px;
    top: 221px;
    left: 1%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #00a3cc;
    border-radius: 25px;
}

.skillset li {
    margin:30px 0 20px 20px;
    list-style: none;
}

.bar {
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    height: 2px;
    float: left;
    background: #2187e7;
}

.html {
    width: 70%;
    animation: html 3.5s;
}

.css {
    width: 60%;
    animation: css 3s;
}

.javascript {
    width: 50%;
    animation: javascript 2.5s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
