body {
    display: block;
    margin: 0px;
    margin-top: -4px;
    margin-right: 1450px;
    background-image: url(./back.jpg);
    width: auto;
    height: 937px;
    background-repeat: no-repeat;
}

h1 {
    color: #00a3cc;
    text-align: center;
    margin: 4px;
    font-family: monospace;
    float: right;
}

p {
    color:#00a3cc;
    text-align: center;
    margin: 4px;
    font-family: monospace;
    float: right;
}

.vertical {
    border-right: 2px solid #00a3cc;
    margin-top: -173px;
    margin-right: 200px;
    height: 172px;
    float: right;
}

img {
    background-size: cover;
    border-radius: 25%;
    display: block;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: auto;
    height: 172px;
    width: 154px;
}

.name {
    height: 650px;
    width: 900px;
    float: right;
    margin-top: -410px;
    margin-right: -650px;
}

.age {
    height: 120px;
    width: 150px;
    float: right;
    margin-right: 39px;
    margin-top: -395px;
}

.student {
    height: 400px;
    width: 500px;
    float: right;
    margin-top: -437px;
    margin-right: -280px;
}

.aca {
    display: block;
    float: right;
    margin-top: -173px;
    margin-right: -200px;
}